@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family:'Roboto',sans-serif, open sans;
}
h1 {
  font-size: 30px;
  color: #000;
  border-bottom: 4px solid #ccc;
  padding-bottom: 5px;
  margin: 0 auto;
}

.header{
	height: 70px;
	position: fixed;
	width: 100%;
	z-index: 10000;
}

.container{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-x: hidden;
}

#Home-btn{
	display: inline-block;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 30px;
	color: white;
}

#Home-btn li a{
	color: white;
}

.navi{
	background-color: #0082e6;
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

nav ul{
	float: right;
	margin-right: 15px;
}

nav ul li{
	display: inline-block;
	line-height: 70px;
	margin:0 8px;
}
nav ul li a{
	color: white;
	font-size: 21px;
}

.checkbtn{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 40px;
	line-height: 70px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;

}

.Bg-image{
	width: 100%;
	top: 0;
	left: 0;
	height: 99vh;
	filter: blur(2px); 
	overflow-y: hidden;
}

.Bg{
	height: 100vh;
	position: absolute;
	width: 100%;
	top: 70px;
	overflow-x: hidden;
}

.domain-info{
	position: absolute;
	color: white;
	top: 25%;
	left: 7%;
	font-size: 2.3vw;
}

#welcome-msg{
	font-size:40px;
	text-align: center;
}

#head-info{
	font-size: 25px;
}

.aside-info{
	display: none;
	position: fixed;
	height: 100vh;
	width: 300px;
	background-color: #134775;
}

.my-img{
	width: 50%;
	border-radius: 50%;
	height: auto;
	margin: 0 23%;
}

#name-info{
	text-align: center;
	font-size: 30px;
	color: white;
}

#side-img{
	width: 100%;
	margin-top: 20px;
}

.Links-aside{
	width: 100%;
	height: auto;
	margin: 30px 0;
	font-size: 25px;
}

.Link-aside{
	display: block;
	color: white;
	width: 100%;
	margin-bottom:10px;
	padding: 10px 20px;
	cursor: pointer;
}

.main-container{
	position: relative;
	top: 100%;
	width: 100%;
	height: auto;
	margin-top:-5px ;
}

#About{
	width: 100%;
	height: 100vh;
	font-size: 18px;
	padding-top:100px ;
	line-height: 20px;
	overflow-wrap: break-word;
}

#About h1{
	width: auto;
	text-align: center;
	margin-top:-20px ;
	margin-bottom: 35px;
}

.about-sec1{
	width: 100%;
	height: 23vh;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	line-height: 22.5px;
}

.about-sec2{
	width: 100%;
	height: 50vh;
	margin:20px 10px;
	line-height: 22.5px;
}

.about-sec1 img{
	display: none;
	border: 5px solid #326ba8;
}

#about-intro1{
	margin: 10px 10px;
	padding: 5px 5px;
}

#about-intro2,#about-intro3{
	margin-top: 20px;
	padding: 10px 5px;
}

#about-intro2{
	padding-top: 30px;
}

.about-sec1 img{
	display: none;
}

#Skills{
	margin-top: -45px;
	padding-top: 70px;
	height: 100vh;
}

#Skills h1{
	text-align: center;
	margin-bottom: 35px;
}

.skill{
	height: 19vh;
	display: flex;
	justify-content: center;
	align-content: flex-start;
}

.skill-des{
	font-size: 18px;
	padding: 10px 5px;
}

.icon{
	margin:0 20px ;
	padding-right: 15px;
	font-size: 450%;
	object-fit: cover;
}

.icon-image{
	margin: -15px 0;
	padding-right:0;
}

#Certificates{
	height: auto;
	width: 100%;
	margin-top: -45px;
	padding-top: 70px;
	margin-bottom: 100px;
}

#Certificates h1,#Projects h1{
	text-align: center;
	margin-bottom: 40px;
}

.cert-container,.project-container{
	border: 4px solid 	#FF69B4;
	padding: 2px 2px;
	height: 55vh;
	margin: 25px auto;
	width: 65%;
	box-shadow: -35px 20px 20px rgba(0, 0, 0, 0.6);
}

.cert-image{
	width: 100%;
	cursor: pointer;
}

.cert-image img{
	width: 100%;
	object-fit: cover;
}

.cert-des{
	overflow-wrap: break-word;
	text-align: left;
	font-size: 16px;
	margin: 15px 10px;
	line-height: 30px;
}

#Projects{
	width: 100%;
	height: auto;
	margin-top: -45px;
	padding-top: 70px;
}

.project-container{
	width: 72%;
	height: 58vh;
}

.project-des{
	height: 28vh;
	padding: 0px 3px;
	line-height: 32px;
	font-size: 17px;
}

.project-image img{
	width: 100%;
	object-fit: cover;
	height: 20vh;
}

.project-link{
	height: 4vh;
	position: relative;
	bottom: 0.5%;
	margin-top: 5px;
	text-align: center;
	border-top: 0.1px solid black;
}

.project-link p{
	color: #5680c2;
	font-size: 17px;
}

#Contact-info{
	height: 100vh;
	width: 100%;
	margin-top: -45px;
	padding-top: 70px;
}
#Contact-info h1{
	text-align: center;
}

.contact-container{
	position: relative;
	top: 21%;
	margin:-10% 20px;
}

.contact-container p{
	padding: 5px 5px;
	margin: 5px 5px;
	font-size: 20px;
}

.btn{
	display: block;
	width: 40%;
	background: #39b7dd;
	text-align: center;
	border-radius: 5px;
	padding: 15px;
	margin: 0 auto;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}
.btn a{
	color: black;
}

#footer{
	position: relative;
	width: 100%;
	height: 13.5vh;
	bottom: -87.5%;
	background-color: rgba(0, 0, 0, 0.8);
}
#footer p{
	text-align: center;
	padding: 7px 10px;
	font-size: 18px;
	color: white;
}
.social-links{
	width: 100%;
	height: auto;
	padding: 10px 20px;
	font-size: 25px;
	margin: 5px auto;
	display: flex;
	justify-content: center;
	align-content: center;
}
.social-link{
	margin-right: 10%;
	margin-left: 15px;
	color: white;
}
@media screen and (min-width: 430px){
	.cert-container{
		height: 65vh;
	}
	.cert-des{
		font-size: 20px;
		line-height: 35px;
		margin: 5px 15px;
	}
	.project-des{
		line-height: 35px;
	}
	.project-link p{
		margin-top: 10px;
		font-size: 18px;
	}
}

@media screen and (min-width: 500px){
	.about-sec1 img{
		display: block;
		width: 35%;
		height: 25vh;
		margin: 0 auto;
	}
	#About h1{
		text-align: left;
	}

	.about-sec1{
		display: flex;
		flex-direction: column;
		height: auto;
	}

	#about-intro1{
		margin-top: 15px;
		padding-top: 25px;
	}

	#about-intro1,#about-intro2{
		padding:0 5px;
		margin: 0 0;
	}
	.cert-des,.project-des{
		line-height: 35px;
		margin: 5px 15px;
	}
	.project-des{
		height: 25vh;
	}
	.project-link{
		height: 6vh;
	}
	.project-link p{
		margin-top: 15px;
	}
}

@media screen and (min-width: 600px){
	#About{
		line-height: 30px;
		height: 100vh;
	}

	#About h1{
		text-align: center;
	}

	.about-sec1{
		height: 30vh;
		flex-direction: row;
		padding-top: 10px;
		padding-left: 15px;
	}

	#about-intro1{
		margin-top: 0;
	}
	.about-sec1 img{
		display: block;
	}
	.about-sec2{
		height: 70vh;
	}
	#about-intro1{
		padding: 10px 10px;
	}
	.skill{
		line-height: 25px;
	}
	.first-50{
		width: 50%;
		left: 0;
		border-right: 5px solid grey;
	}
	.second-50{
		width: 50%;
		margin-left: 48%;
	}
	#Certificates,#Contact-info{
		width: 100%;
		height: 130vh;
	}
	.cert-container,.project-container{
		display: inline-block;
		float: left;
		width: 46%;
		height: 52vh;
		margin-left: 20px;
		box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.6);
	}
	.cert-image,.project-image{
		height: 30vh;	
	}
	.cert-image img,.project-image img{
		height: 25vh;
		width: 100%;
	}
	.cert-des,.project-des{
		height: auto;
		font-size: 17px;
		margin: 0 10px;
		line-height: 32px;
	}
	#Projects{
		width: 100%;
		height: 170vh;
	}
	.project-container{
		height: 68vh;
	}
	.project-image{
		height: 25vh;
	}
	.project-des{
		height: 30vh;
		padding-top: 10px;
	}
	#Contact-info{
		height: 100vh;
	}
	#footer{
		position: relative;
		bottom: -87.5%;
	}
}

@media screen and (max-width: 710px){
	.checkbtn{
		display: block;
	}

	.head-info{
		font-size: 35px;
	}

	ul{
		position: fixed;
		width: 100%;
		height: 50vh;
		background-color: #2c3e50;
		top: 70px;
		left: -100%;
		text-align: center;
		transition: left .5s;
	}

	nav ul li{
		display: block;
		margin:30px 0;
		line-height: 25px;
	}

	nav ul li a{
		font-size: 20px;
	}

	a:hover,.active{
		background: none;
		color: #0082e6;
	}

	#check:checked ~ul{
		left: 0;
	}
	.project-des{
		line-height: 35px;
		padding-top: 25px;
	}
}

@media screen and (min-width: 710px){
	.project-des{
		line-height: 35px;
		padding-top: 35px;
	}
	#about-intro1,#about-intro2,#about-intro3{
		line-height: 35px;
	}
}

@media screen and (min-width: 830px){
	body{
		border-left: 15px solid #C9E5E5;
	}

	.domain-info{
		left: 6.5%;
	}

	.aside-info{
		display: block;
		z-index: 10000;
	}

	.Links-aside a:hover{
		background-color: #A0A0A0;
	}

	.Bg{
		top: 0;
		left: 305px;
		width: auto;
		height: auto;
	}

	.navi{
		display: none;
	}

	#head-info{
		font-size: 35px;
	}

	#welcome-msg{
		font-size: 60px;
	}
	.main-container{
		left: 300px;
		width: 65%;
	}
	.first-50{
		width: 100%;
		border-right: none;
	}
	.second-50{
		width: 100%;
		margin-left: 0;
	}
	#Certificates{
		margin-left: -5px;
	}
	#Projects{
		width: 100%;
		height: 330vh;
		margin-top: 20px;
		padding-top: 25px;
	}
	.project-container{
		width: 70%;
		margin-left: 90px;

	}
	#Contact-info{
		padding-top: 50px;
	}
	#footer{
		left: 300px;
		width: 75%;
	}
}

@media screen and (min-width: 948px){
	nav ul li a{
		font-size: 20px;
	}
	.main-container{
		left: 305px;
		width: 70%;
	}
	#skill-front-end{
		margin-left: 0;
	}
	#front-end-image{
		margin-left: 25px;
	}
	.project-container{
		margin-left: 35px;
		display: inline-block;
		float: left;
		width: 40%;
		height: 67vh;
	}
	#Projects{
		height: 170vh;
	}
}

@media screen and (min-width: 1100px){
	h1{
		border-bottom: none;
	}
	.about-sec1 img{
		width: 35%;
		height: 30vh;
	}
	#about-intro1,#about-intro2,#about-intro3{
		line-height: 40px;
	}
	.about-sec2{
		margin-top: 65px;
	}
	.main-container{
		left: 350px;
	}
	.first-50{
		width: 50%;
		left: 0;
		border-right: 5px solid grey;
	}
	.second-50{
		width: 50%;
		margin-left: 48%;
	}
	#About,#Certificates,#Projects,#Skills,#Contact-info{
		margin-bottom: 85px;
		padding-top: 50px;
	}
	#Projects{
		height: 170vh;
	}
	.banner-about{
		margin-top:-25px;
		width: 95%;
		left: 300px;
		height: 15vh;
		background-color: black;
	}
	.banner-skill{
		margin-bottom: 25px;
	}
	.banner{
		margin-top: -45px;
		margin-left: -80px;
		width: 120%;
		height: 18vh;
		background-image: linear-gradient(#4568dc ,#b06ab3);
	}
	.banner h1{
		line-height: 18vh;
		color: white;
	}
	#footer{
		bottom: -75%;
	}
}

@media screen and (min-width: 1450px){
	.main-container,#footer{
		left: 385px;
		width: 70%;
	}
	.cert-container{
		width: 38%;
		margin-left: 60px;
	}
	.project-container{
		height: 60vh;
		width: 35%;
		margin-left: 70px;
	}
	.project-des{
		height: 24vh;
	}
	.skill-des{
		line-height: 37px;
	}
	.project-link{
		height: 3vh;
	}
	#Certificates{
		margin-bottom: 150px;
	}
	.banner{
		height: 25vh;
	}
	.banner h1{
		line-height: 25vh;
	}
	#footer{
		bottom: -75%;
	}
}

